html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #191919;
    overflow-x: hidden;
    font-family: 'Kanit', sans-serif;
    font-family: 'Source Code Pro', monospace;
}

/* HEADER */

#header {
    width: fit-content;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    border-bottom: 2px ridge  #fff;
}

#header p {
    color: white;
    width: 20em;
    overflow: hidden;
    white-space: nowrap;
    font-family: 'Source Code Pro', monospace;
}

.anim0 {
    animation: write 1s steps(100) 1s 1 normal both
}

.anim1 {
    animation: write 1s steps(100) 1.5s 1 normal both;
}

.anim2 {
    animation: write 1s steps(100) 2.5s 1 normal both;
}

.anim3 {
    animation: write 1s steps(100) 3s 1 normal both;
}

.anim4 {
    animation: write 1s steps(100) 4s 1 normal both;
}

@keyframes write {
    from {
        width: 0;
    }
    to {
        width: 20em;
    }
}

.go_down {
    margin-top: 10%;
    text-align: center;
}

.btn {
    background: none;
    padding: 20px;
    color: white;
    border: 2px ridge #fff;
    top: 60%;
    left: 15%;
    animation: display_button;
    animation-duration: 1s;
    animation-delay: 3.5s;
    animation-fill-mode: forwards;
    width: 10em;
    visibility: hidden;
    transition: all;
    transition-duration: 0.7s;
    outline: none;
}

.btn:hover {
    background-color: white;
    color: #191919;
}

@keyframes display_button {
    99% {
        visibility: hidden;
    }

    100% {
        visibility: visible;
    }
}

@media screen and (max-width: 700px) {
    #header {
        left: 2%;
	top: 50%;
    }

    p {
        font-size: larger !important;
    }
}

footer {
    color: white;
    text-align: center;
    height: 8%;
    background-color: #191919;
    margin-top: 10px;
}
