html, body {
    height: 99%;
    width: 99.5%;
    /* overflow: hidden; */
    background: #04032d;
    margin-right: auto;
    margin-left: auto;
}

::selection {
    background: #191854;
    color:white;
}

* {
    box-sizing: border-box;
}

/* NAVIGATION BAR */

.menu_deroulant {
    position: absolute;
    background-color: #1D1D24;
    width: 10%;
    text-align: center;
}

.menu_deroulant{
    display: none;
    text-decoration: none;
}

#header nav {
    width: 100%;
    height: 10%;
}

#header nav ul#mainul {
    background-color: #2E2E2E;
    padding: 0;
    height: 8%;
    width: 80%;
    display: flex;
    position: absolute;
    top: 4%;
    left: 52%;
    transform: translate(-50%, -50%);
}

#header nav ul li.source {
    text-decoration: none;
    flex: auto;
    color: black;
    display: inline-flex;
    align-items: stretch;
    transition: all;
    transition-duration: 0.7s;
    position: relative;
    width: fit-content;
    height: 100%;
    margin: auto;
    padding-top: 11px;
}

a {
    font-family: 'Source Sans Pro', sans-serif;
    margin-left: 10%;
    cursor: pointer;
    font-size: larger;
    display: flex;
    align-items: stretch;
    padding: 10px;
    height: 60%;
    width:32%;
    color: white;
    text-decoration: none;
    transition: all;
    position: fixed;
    transition-duration: 0.7s;
    outline: none;
}

#header nav ul li:hover {
    background-color: black;
}

li.source:hover a {
    color: white;
}

#header nav ul li:hover ul.menu_deroulant {
    display: block;
}

li.source:hover .menu_deroulant li {
    text-decoration: none;
}

/* BACKGROUND IMAGE */

#img-bg {
    display: flex;
    height: 100%;
    width: 100%;
    background-image: url("../assets/bg.png");
    background-repeat: no-repeat;
    filter: blur(8px);
}

.title {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 60px;
    border: 2px ridge lightgray;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title h1 {
    font-family: SourceSansPro-Black, Helvetica, Arial;
    color: white;
}

/* Animation */

@keyframes second {
    0% {left: 56%;}
    50% {left: 39%;}
    100% {left: 56%;}
}

@keyframes first {
    0% {left: 39%;}
    50% {left: 56%;}
    100% {left: 39%;}
}


.first_circle {
    width: 10px;
    height: 10px;
    background-color: white;
    position: absolute;
    top: 35%;
    left: 39%;
    border-radius: 50%;
    animation-name: first;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

.second_circle {
    width: 10px;
    height: 10px;
    background-color: white;
    position: absolute;
    top: 60%;
    left: 56%;
    border-radius: 50%;
    animation-name: second;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

